XTerm*termName: xterm-256color
XTerm*locale: 1
XTerm*utf8: 1
XTerm*utf8Title: 1
XTerm*borderWidth: 0
XTerm*scrollBar: 0
XTerm*saveLines: 10000
XTerm*foreground: #FFFFFF
XTerm*background: #000000
XTerm*faceName: xft:Source Code Pro For Powerline:Regular:size=10
XTerm*faceNameDoubleSize: xft:Source Code Pro For Powerline:Regular:size=10
XTerm*allowBoldFonts: false

Xft*hintstyle: hintfull
Xft*rgba: rgb
